@model Sistema_BookHub_Online.Models.Empleados

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml"; 
    ViewData["Title"] = "Create";
}

<h1>Registrarse</h1>

<h4>Empleados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contacto" class="control-label"></label>
                <input asp-for="Contacto" class="form-control" />
                <span asp-validation-for="Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Encargo" class="control-label"></label>
                <input asp-for="Encargo" class="form-control" />
                <span asp-validation-for="Encargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_sucursal" class="control-label"></label>
                <input asp-for="id_sucursal" class="form-control" />
                <span asp-validation-for="id_sucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar   " class="btn btn-primary" />
                <span style="margin-left: 10px;"></span>
                <br>
                <br>
                <a href="@Url.Action("Index", "Login ")" class="btn btn-secondary">Regresar</a>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
