@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "layoutu";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Admin</title>
</head>
<body>

    <div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
        <h2>Empleados</h2>
        <p>Mira los empleados</p>

        <form asp-action="GotoEmpleados">
            <div style="margin-top: 20px; text-align: center;">
                <button type="submit" class="btn btn-secondary">Ingresar</button>
            </div>
        </form>
    </div>

    <div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
        <h2>Libros</h2>
        <p>Revisa los libros disponibles</p>

        <form asp-action="Gotolibros">
            <div style="margin-top: 20px; text-align: center;">
                <button type="submit" class="btn btn-secondary">Ingresar</button>
            </div>
        </form>
    </div>

    <div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
        <h2>Pedidos</h2>
        <p>Haz un pedido para reabastecer la libreria</p>

        <form asp-action="Gotopedidos">
            <div style="margin-top: 20px; text-align: center;">
                <button type="submit" class="btn btn-secondary">Ingresar</button>
            </div>
        </form>
    </div>

    <div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
        <h2>Prestamos</h2>
        <p>Revisa los prestamos hechos por los usuarios</p>

        <form asp-action="GotoPrestamos">
            <div style="margin-top: 20px; text-align: center;">
                <button type="submit" class="btn btn-secondary">Ingresar</button>
            </div>
        </form>
    </div>

    <div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
        <h2>Sucursales</h2>
        <p>Revisa las sucursales disponibles</p>

        <form asp-action="GotoSucursales">
            <div style="margin-top: 20px; text-align: center;">
                <button type="submit" class="btn btn-secondary">Ingresar</button>
            </div>
        </form>
    </div>

    <div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
        <h2>Usuarios</h2>
        <p>Revisa los usuarios inscritos</p>

        <form asp-action="GotoUsuarios">
            <div style="margin-top: 20px; text-align: center;">
                <button type="submit" class="btn btn-secondary">Ingresar</button>
            </div>
        </form>
    </div>

</body>
</html>

