@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <div class="card-custom">
            <div class="content">
                <!-- Aquí puedes agregar contenido adicional, como una imagen o texto -->
            </div>
            <button class="btn btn-prestar">PRESTAR</button>
            <div class="sucursal-name">Santuario Literario</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-custom">
            <div class="content">
                <!-- Aquí puedes agregar contenido adicional, como una imagen o texto -->
            </div>
            <button class="btn btn-prestar">PRESTAR</button>
            <div class="sucursal-name">Centre de Lecture</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-custom">
            <div class="content">
                <!-- Aquí puedes agregar contenido adicional, como una imagen o texto -->
            </div>
            <button class="btn btn-prestar">PRESTAR</button>
            <div class="sucursal-name">Wichtige Seiten</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card-custom">
            <div class="content">
                <!-- Aquí puedes agregar contenido adicional, como una imagen o texto -->
            </div>
            <button class="btn btn-prestar">PRESTAR</button>
            <div class="sucursal-name">Páginas Vitais</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-custom">
            <div class="content">
                <!-- Aquí puedes agregar contenido adicional, como una imagen o texto -->
            </div>
            <button class="btn btn-prestar">PRESTAR</button>
            <div class="sucursal-name">Bookhub</div>
        </div>
    </div>
</div>
